#container {
  display: flex;
}

h2 {
  font-size: 36px;
  text-align: center;
}

h3, .Destinations {
  font-size: 20px;
  text-align: left;
}

.destination {
  width: 300px;
}

.image {
}

.itinerary {
  left: 100%;
}

h3 {
  text-align: center;
  font-size: 26px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /*flex-direction: row;*/
}

li {
  list-style-type: none;
}
