#container {
  display: flex;
}

h2 {
  font-size: 36px;
  text-align: center;
}

h3, .Destinations {
  font-size: 20px;
  text-align: left;
}

.destination {
  width: 300px;
}

/*.image {
  left: 50%;
}*/

.itinerary {
  left: 100%;
}

h3 {
  text-align: center;
  font-size: 26px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: left;*/
  /*flex-direction: row;*/
}

li {
  list-style-type: none;
}

.image {
  padding: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  /*display: block;*/
  background-color: #D6D6D6;
  height: 5vh;
  width: 100vw;
}

#open-chat {
  margin-top: .3vh;
  cursor: pointer;
  font-size: 1vw;
  position: absolute;
  right: 1vw;
  padding: 1vh 1vw;
  color: #206FF9;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 7vw;
  height: 4vh;
}
